.navbar-content {
    height: 80px;
    background-color: #20232a;
    color: #fff;
    width: 100%;
    font-weight: 500;
}
.navbar button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 16px;
    background-color: #438effbf;
    padding: 10px 17px;
    border-radius: 5px;
    outline: none;
    font-weight: 500;
    cursor: pointer;
    width: 178px;
    transition: background-color .4s;
    margin: 0 25px;
}
.navbar button:hover {
    background-color: #438effa9;
}
.navbar button.disabled {
    background-color: #ff2300;
}
.side-button {
    cursor: pointer;
    opacity: 1;
    transition: opacity .2s;
    position: relative;
}
.side-button:hover {
    opacity: .7;
}

.obsticles {
    position: relative;
}
.obsticles-popup {
    position: absolute;
    background-color: #20232a;
    box-shadow: rgb(0 0 0 / 30%) 1px 1px 6px 2px;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
    border-radius: 3px;
    padding: 6px;
}
.obsticles-option {
    padding: 8px 12px;
    border-radius: 3px;
    cursor: pointer;
}
.obsticles-option:hover {
    background-color: #438effa9;
}

.navbar-bottom {
    padding: 20px 0;
}
.flex {
    display: flex;
}
.align-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.column {
    flex-direction: column;
}
.fake-node {
    width: 28px;
    height: 28px;
    background-size: 100% !important;
    border-radius: 4px;
    margin-right: 10px;
    margin-left: 20px;
}
.explanation>div {
    margin-left: 20px;
}

.path-canvas {
    height: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding-left: 10px;
}
.row {
    max-width: 100%;
}

.app-view {
    -webkit-user-drag: none;
}
.node {
    width: 25px;
    height: 25px;
    outline: 1px solid rgb(175, 216, 248);
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.start-node {
    background-image: url('https://i.poxgur.com/HoeFFD.png');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: grab;
}
.finish-node {
    background-color: #ff2300 !important;
    cursor: grab;
}
.row {
    display: flex;
}
.node.animate-visited {
    background-color: blue;
    animation: color 1.5s forwards;
}
.visited {
    background-color: #438effbf;
}
@keyframes color {
    0% {
        transform: scale(.3);
        background-color: rgba(146, 0, 190, 0.75);
        border-radius: 100%;
    }
    50% {
        background-color: rgba(173, 0, 189, 0.75);
    }
    75% {
        transform: scale(1.2);
        background-color: rgba(216, 5, 141, 0.75)
    }
    100% {
        transform: scale(1.0);
        background-color: #438effbf;
    }
}
.node-path {
    background-color: #fffe6a;
    animation: none;
}
.node.animate-node-path {
    background-color: #fffe6a;
    animation: scale-up .6s forwards;
}
@keyframes scale-up {
    0% {
        transform: scale(.7);
    }
    70% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
.wall {
    background-color: #20232a;
    animation: wall .15s forwards;
    outline: none;
}
@keyframes wall {
    0% {
        transform: scale(.95);
    }
    70% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}